body {
    font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
    background: linear-gradient(120deg, #65e4fa 0%, #ef3acb 65%, #2d20e3 100%);
    margin: auto;
    padding: 20px 18px 40px 18px;
}

h1 {
    color: #212898;
    text-align: center;
    font-family: 'UnifrakturCook', 'Comic Sans MS', cursive;
    font-size: 42px;
    margin-bottom: 22px;
    letter-spacing: 3px;
    -webkit-text-stroke: 1px #fff;
}

table {
    width: 95%;
    height: 80vh;
    table-layout: fixed;
    background: #212898;
    border-radius: 28px;
    padding: 15px;
    box-shadow: 0 4px 22px #21289833;
    margin: auto;
    border: 2px solid #fe32f4;
    gap: 15px;
}

.chap {
    width: 90%;
    height: 50%;
    border-radius: 28px;
    background: linear-gradient(90deg,#6b63fe 10%, #fe32f4 100%);
    border: 4px solid #fd99ff;
    padding: 20px 5px;
    font-size: 15px;
    text-align: center;
    line-height: 300%;
    font-weight: 900;
    letter-spacing: 1px;
    margin: auto;
    transition: 
      background .29s, 
      color .18s,
      border .2s, 
      transform .12s;
      
}

.chap:hover {
    background: linear-gradient(270deg,#fe32f4 35%, #6b63fe 90%);
    color: #fff;
    border: 4px solid #ffe120;
    cursor: pointer;
    transform: scale(1.12) rotate(-2deg);
}

.chap:active {
    background: linear-gradient(90deg, #2f0a9d 40%, #8f0ab7 100%);
    color: #232896;
    border: 4px solid #fedd63;
    transform: scale(0.97);
    box-shadow: 0 0 22px #21289833;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}